# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencias (NUNCA subir esto)
node_modules
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs
*.njsproj
*.sln
*.sw?

# Build output (La carpeta que genera Vite al compilar)
dist
dist-ssr

# Variables de Entorno (IMPORTANTE para seguridad)
.env
.env.*
!.env.example

# Testing
coverage

# Vite temp files
*.tsbuildinfo